.ShopNav {
    width: 200px;

}

.ShopNav div {
    list-style: none;
    padding: 0px 40px 0 80px;
    display: block;
}


.ShopNav h2 {
    display: flex;
    justify-content: center;
    padding: 20px 40px 0 80px;
    margin-bottom: 70px;
    font-size: 30px;
}

.ShopNav ul {
    list-style: none;
    margin-top: 30px ;

}

.ShopNav li a{
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    transition: 0.3s;

}

.ShopNav li a:hover {
    color: darkturquoise;
    transform: inherit;
}