.ShopNav {
    width: 200px;
    height: 1000px;
}

.ShopNav div {
    list-style: none;
    padding: 0px 40px 0 80px;
    display: block;
}

.ShopNav div p {
    cursor: pointer;
}

.ShopNav div p:hover {
    text-decoration: none;
    color: red;
}

.ShopNav h2 {
    display: flex;
    justify-content: center;
    padding: 20px 40px 0 80px;
}