.ShopNav {
    width: 200px;
    height: 1000px;
}

.ShopNav div {
    list-style: none;
    padding: 0px 40px 0 80px;
    display: block;
}


.ShopNav h2 {
    display: flex;
    justify-content: center;
    padding: 20px 40px 0 80px;
}

.ShopNav ul {
    list-style: none;

}

.ShopNav li a{
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    transition: 0.4s;

}

.ShopNav li a:hover {
    color: darkturquoise;
    transform: inherit;
}